.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-loader {
  border: 4px solid #28a745;
  border-left-color: transparent;
  border-radius: 50%;
}

.box-loader {
  border: 4px solid #28a745;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.box-loader {
  border: 4px solid #28a745;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
